//! **************************************************************************
// Written by: Map P.20131013 on Thu Oct 24 14:28:57 2019
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "RED_OUT<0>" LOCATE = SITE "P103" LEVEL 1;
COMP "LED" LOCATE = SITE "P46" LEVEL 1;
COMP "VSYNC_OUT" LOCATE = SITE "P92" LEVEL 1;
COMP "RED_OUT<1>" LOCATE = SITE "P104" LEVEL 1;
COMP "GREEN_IN<0>" LOCATE = SITE "P27" LEVEL 1;
COMP "RED_OUT<2>" LOCATE = SITE "P105" LEVEL 1;
COMP "GREEN_IN<1>" LOCATE = SITE "P30" LEVEL 1;
COMP "GREEN_IN<2>" LOCATE = SITE "P28" LEVEL 1;
COMP "AUDIO_OUT_L" LOCATE = SITE "P88" LEVEL 1;
COMP "RED_IN<0>" LOCATE = SITE "P25" LEVEL 1;
COMP "RED_IN<1>" LOCATE = SITE "P24" LEVEL 1;
COMP "RED_IN<2>" LOCATE = SITE "P29" LEVEL 1;
COMP "AUDIO_OUT_R" LOCATE = SITE "P87" LEVEL 1;
COMP "VSYNC_IN" LOCATE = SITE "P21" LEVEL 1;
COMP "BLUE_IN<0>" LOCATE = SITE "P32" LEVEL 1;
COMP "BLUE_IN<1>" LOCATE = SITE "P31" LEVEL 1;
COMP "HSYNC_OUT" LOCATE = SITE "P93" LEVEL 1;
COMP "AUDIO_IN" LOCATE = SITE "P10" LEVEL 1;
COMP "BLUE_OUT<0>" LOCATE = SITE "P96" LEVEL 1;
COMP "BLUE_OUT<1>" LOCATE = SITE "P98" LEVEL 1;
COMP "HSYNC_IN" LOCATE = SITE "P19" LEVEL 1;
COMP "GREEN_OUT<0>" LOCATE = SITE "P99" LEVEL 1;
COMP "GREEN_OUT<1>" LOCATE = SITE "P101" LEVEL 1;
COMP "GREEN_OUT<2>" LOCATE = SITE "P102" LEVEL 1;
COMP "CLK" LOCATE = SITE "P129" LEVEL 1;
NET "CLK_BUFGP/IBUFG" PERIOD = 83.3333333 ns HIGH 50%;
SCHEMATIC END;

